<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<static-files>
		<include path="/*.html" />
		<include path="/*.xml" />
	</static-files>
	<servlet>
		<servlet-name>InfoDatabaseUpdate</servlet-name>
		<servlet-class>org.vt.hokiehelper.InfoDatabaseUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DatabaseVersions</servlet-name>
		<servlet-class>org.vt.hokiehelper.DatabaseVersionsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RecsportsPassthrough</servlet-name>
		<servlet-class>org.vt.hokiehelper.RecsportsPassthrough</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HokieHelperServer</servlet-name>
		<servlet-class>org.vt.hokiehelper.HokieHelperServerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewsDatabaseUpdate</servlet-name>
		<servlet-class>org.vt.hokiehelper.NewsDatabaseUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DiningHours</servlet-name>
		<servlet-class>org.vt.hokiehelper.DiningHoursServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DiningSpecials</servlet-name>
		<servlet-class>org.vt.hokiehelper.DiningSpecialsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewsFeed</servlet-name>
		<servlet-class>org.vt.hokiehelper.NewsFeedServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ArticleParser</servlet-name>
		<servlet-class>org.vt.hokiehelper.ArticleParserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MapsDatabaseUpdate</servlet-name>
		<servlet-class>org.vt.hokiehelper.MapsDatabaseUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ManageLocations</servlet-name>
		<servlet-class>org.vt.hokiehelper.ManageLocationsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FootballSchedule</servlet-name>
		<servlet-class>org.vt.hokiehelper.FootballScheduleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuildingsUpdate</servlet-name>
		<servlet-class>org.vt.hokiehelper.BuildingsUpdateServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>DiningHoursUpdate</servlet-name>
		<servlet-class>org.vt.hokiehelper.DiningHoursUpdateServlet</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>DiningHoursUpdate</servlet-name>
		<url-pattern>/dininghoursupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RecsportsPassthrough</servlet-name>
		<url-pattern>/recsportspassthrough</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HokieHelperServer</servlet-name>
		<url-pattern>/hokiehelperserver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DiningHours</servlet-name>
		<url-pattern>/dininghours</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DiningSpecials</servlet-name>
		<url-pattern>/diningspecials</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsFeed</servlet-name>
		<url-pattern>/newsfeed</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticleParser</servlet-name>
		<url-pattern>/articleparser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsDatabaseUpdate</servlet-name>
		<url-pattern>/newsdatabaseupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MapsDatabaseUpdate</servlet-name>
		<url-pattern>/mapsdatabaseupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageLocations</servlet-name>
		<url-pattern>/managelocations</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FootballSchedule</servlet-name>
		<url-pattern>/footballschedule</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DatabaseVersions</servlet-name>
		<url-pattern>/databaseversions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfoDatabaseUpdate</servlet-name>
		<url-pattern>/infodatabaseupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuildingsUpdate</servlet-name>
		<url-pattern>/buildingsupdate</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
